<form class="legends sheet growth-condition-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1 class="title">
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" class="editable" />
    </h1>
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
  </header>
  
  <textarea class="main" name="system.description">{{data.system.description}}</textarea>
</form>
