{{#unless inSheet}}<div class="legends">{{/unless}}
  <section class="item condition" data-item-id="{{_id}}" data-npc="true">
    <div>
      <span class="large title">
        {{#if inSheet}}
        <a class="condition-toggle check-box{{#if data.checked}} filled{{/if}}"></a>
        <a class="item-roll black menu">{{name}}</a>
        {{else}}
        {{name}}
        {{/if}}
      </span>
    </div>
    {{#unless npc}}
    {{{data.description}}}
    {{/unless}}
  </section>
{{#unless inSheet}}</div>{{/unless}}