<form class="legends sheet player-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
    <h1 class="block charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}"/></h1>
  </header>

  <section class="training">
    <h2 class="title sigils">{{ localize "legends.actor-sheet.player.training" }}</h2>
    <div class="trainings">
      {{#each config.training as |name type|}}
        <div class="training-type">
          <img class="{{type}}" src="systems/legends/images/{{type}}3.png" />
          <br />{{localize name}}
        </div>
      {{/each}}
    </div>

    <section class="fighting-style">
      <label class="title">
        {{ localize "legends.actor-sheet.player.fighting-style" }}:
        <input name="data.fighting_style" type="text" value="{{data.data.fighting_style}}" class="" />
      </label>
    </section>
  </section>

  <section class="main">
    <section class="row">
      <!-- stats and fatigue -->
      <section class="stats-fatigue">
        <section class="stats">
          <h2 class="block">{{ localize "legends.actor-sheet.stats" }}</h2>
          {{#each data.data.stats as |val type| }}
          <div>
            <input name="data.stats.{{type}}" value="{{val}}" type="number" max="3" min="-1" class="hand" />
            &nbsp;
            <span class="large title">{{localize (tr_path "legends.stats" type) }}</span>
          </div>
          {{/each}}
        </section>
        <section class="fatigue">
          <h2 class="brush">{{ localize "legends.actor-sheet.fatigue" }}</h2>
          <section class="boxes center">
            {{#times data.data.fatigue.max}}
              <a class="set-value fatigue-box{{#if (gte ../data.data.fatigue.value @index)}} filled{{/if}}" data-param="fatigue" data-new-value="{{@index}}"></a>
            {{/times}}
            <p>
              <a class="set-value fire" data-param="fatigue" data-new-value="0">
                <i class="fa fa-times"></i>
                {{localize "legends.actor-sheet.clear-fatigue"}}
              </a>
            </p>
          </section>
        </section>
      </section>

      <!-- balance -->
      <section class="balance">
        <h2 class="block">{{ localize "legends.actor-sheet.balance" }}</h2>
        
        <h3 class="brush">Principle</h3>
        <p class="title center">CENTER</p>
        <h3 class="brush right">Principle</h3>
      </section>

      <!-- conditions -->
      <section class="conditions">
        <h2 class="block">{{ localize "legends.actor-sheet.conditions" }}</h2>
        {{#each conditions as |condition id|}}
          {{> "systems/legends/templates/partials/condition-card.hbs" condition}}
        {{/each}}
      </section>
    </section>
  </section>

  <section class="feature-moves">
    <section class="item feature">
      <h2 class="title sigils">
        <a class="item-edit">{{feature.name}}</a>
      </h2>
      <section class="body">
        {{{ feature.data.description }}}
      </section>
    </section>

    <section class="moves-techniques">
      <section class="moves">
        <h2 class="brush no-margin">
          {{localize "legends.actor-sheet.moves"}}
        </h2>
        <p class="title small">
          <a class="item-create fire" data-type="move" title="{{localize "legends.moves.add"}}">
            <i class="fas fa-plus"></i> {{localize "legends.moves.add"}}
          </a>
        </p>
        {{#each moves as |move id|}}
          {{> "systems/legends/templates/partials/move-card.hbs" move}}
        {{/each}}
      </section>

      <section class="techniques">
        <h2 class="kanji brush no-margin center">
          {{localize "legends.actor-sheet.techniques"}}
        </h2>
        <p class="title small center">
          <a class="item-create" data-type="technique" title="{{localize "legends.techniques.add"}}">
            <i class="fas fa-plus"></i> {{localize "legends.techniques.add"}}
          </a>
        </p>
        {{#each techniques as |technique id|}}
          {{> "systems/legends/templates/partials/technique-card.hbs" technique}}
        {{/each}}
      </section>
    </section>
  </section>

  <section class="character">
    <section class="cell growth">
      <h2 class="title">
        {{localize "legends.actor-sheet.player.growth"}}
        {{#times 4}}
        <a class="check-box set-value{{#if (gte ../data.data.growth.value @index)}} filled{{/if}}" data-param="growth" data-new-value="{{@index}}"></a>
        {{/times}}
        <a class="set-value" data-param="growth" data-new-value="0"><i class="fa fa-times"></i></a>
      </h2>

      <h3 class="title">{{localize "legends.actor-sheet.player.advancements.title"}}</h3>
      <ul>
        <li>
          {{localize "legends.actor-sheet.player.advancements.new-move"}}
          {{#times 2}}
          <a class="check-box mini"></a>
          {{/times}}
        </li>
      </ul>
    </section>

    <section class="cell about">
      <h3 class="block">{{localize "legends.actor-sheet.player.about"}}</h3>
      <textarea name="data.description" class="look">{{data.data.description}}</textarea>

      <section class="labelled-input">
        <label class="title" for="data.hometown">Home town:</label>
        <input type="text" name="data.hometown" />
      </section>
    </section>
  </section>
</form>