<form class="legends sheet technique-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" class="editable" />
    </h1>
  </header>
  <div>
    <table>
      <tr>
        <th>{{localize "legends.techniques.approach"}}</th>
        <th>{{localize "legends.techniques.basic"}}</th>
      </tr>
      <tr>
        <td>
          <select name="data.approach" data-type="String">
            {{#select data.data.approach}}
              {{#each config.approaches as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </td>
        <td><input type="checkbox" name="data.basic" {{checked data.data.basic}}></td>
      </tr>
    </table>
    <h2>{{localize "legends.common.description"}}</h2>
    <div class="editor">
      {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>
